Requirements:
	- Create prototype app with no functionality.
	- Adjust interface design with "dummy" questions.
	- Functionality to be implemented:
		- Web app.
		- Allow for administrator validation.
		- Only administrator can create questions.
		- Greek and English languages supported.
		- Every "player" is a team consisting of multiple people (i.e allow registration).
		- Teams must be names unique.
		- Sign up period lasts until start of game.
		- 2 question types, multipe choice and input (just integer for now).
		- Countdown for each question.
		- Points awarded based on speed relative to other teams.
		- Wrong answer - x points (x based on question).
		- No answer 0 points.
		- Answer result can be seen only after all teams answered or countdown reached 0.
		- Answer result in the form of a leaderboard.
		- Game progresses to next question based on administrator input.
	- Present prototype to client.
	- Implement functionality based on feedback.
		
		